/source/core/nl.uva.vlet.grid.globus/target/
/source/core/nl.uva.vlet.vfs.gftp/target/
/source/core/nl.uva.vlet.vrs.core/target/
/source/core/nl.uva.vlet.vfs.jcraft.ssh/target/
/source/core/nl.uva.vlet.lbl.srm/target/
/source/core/nl.uva.vlet.vfs.srm/target/
/source/core/nl.uva.vlet.glite.lfc/target/
/source/core/nl.uva.vlet.vfs.lfc/target/
/source/core/nl.uva.vlet.vfs.irods/target/
/source/core/nl.uva.vlet.gui.utils/target/